.status-bar {
  display: flex;
  justify-content: center;
  padding: 5px 3px;
}
.status-bar__column {
  width: 33%;
}
.status-bar__column:first-child span {
  margin-right: 5px;
}

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar__column .fa-battery-full {
  margin: 0px 5px;
}
/* CSS에서 자주 써 먹을 기술
justify-content는 각자의 width가 다르기 때문에 정확히 등분할 때 단점이 있다
이를 보완하기 위해서는 가장 큰 틀에 justify-content: center, 내부 박스에 33% 등으로 퍼센트 나누기, 
중앙에 위치할 박스는 justify-content: center, 오른쪽에 정렬할 박스는 justify-content: flex-end, align-items: center를 한다. */
